
<div id="searchResultWrapper">

    <div id="searchResultHeader"></div>

    <div id="searchResultContent">

        <div id="searchResultEntry">
            <div id="heading"><label>The Rise of the Planet of the Apes.</label></div>

            <div id="thumbnailDiv"></div>

            <div id="metaDataDiv">
                <div id="linkDiv"><a href="http://www.google.com">https://www.youtube.com/watch?v=1M2gC86Q_9o</a></div>
                <div id="additionInfoDiv">Date Created: 12/12/2001</div>
                <div id="descriptionDiv" class="ellipsis">
                    A growing nation of genetically evolved apes led by Caesar is threatened by a band of human survivors of
                    the devastating virus unleashed a decade earlier. They reach a fragile peace, but it proves short-lived,
                    as both sides are brought to the brink of a war that will determine who will emerge as Earth's dominant
                    species and much more which I cannot describe right now as it is too much to tell and I dont have much
                    time ...
                </div>
            </div>

        </div>
    </div>
    <div id="searchResultPush"></div>

</div>

<div id="searchResultFooter"></div>


