
<div id="searchResultWrapper" ng-controller="SearchResultController">

    <div id="searchResultHeader"></div>

    <div id="searchResultContent">

        <ul>
            <li ng-repeat= "result in results()">

                <div class="searchResultEntry">
                    <div class="heading"><label>{{result.fileName}}</label></div>

                    <div class="thumbnailDiv"></div>

                    <div class="metaDataDiv">
                        <div class="linkDiv"><a ng-href="{{result.url}}" target="_blank">{{result.url}}</a></div>
                        <div class="additionInfoDiv">Date Created: {{result.uploaded| date:'yyyy-MM-dd'}}</div>
                        <div class="descriptionDiv ellipsis"> {{result.description}} </div>
                    </div>
                </div>
            </li>
        </ul>

     <div style="clear:both"></div>

    </div>
    <div id="searchResultPush"></div>

</div>

<div id="searchResultFooter"></div>


