<div id="mainUploadContent" ng-controller="EntryAdditionController">

    <aside>
        <p>
            <b>{{configuration.category}} For Uploading</b>
        </p>

        <ul id="fileset">
            <li><label><input class="file" type="checkbox" name="fileSelected" value="Click1" /> ClickMe1 </label></li>
            <li><label><input class="file" type="checkbox" name="fileSelected" value="Click2" /> ClickMe2 </label></li>
        </ul>
    </aside>

    <table id="indexEntryTable" cellspacing="1">

        <tr>
            <td class= "label"><label class="indexEntryLabel">File Name: </label></td>
            <td class= "value"><input type="text" class="indexEntryText" placeholder="File Name" ng-model="indexEntryData.fileName"/></td>
        </tr>

        <tr>
            <td class= "label"><label class="indexEntryLabel">Language: </label></td>
            <td class= "value">
                <input type="radio" name="language" value="English" checked ng-model="indexEntryData.language"/>English
                <input type="radio" name="language" value="Swedish" ng-model="indexEntryData.language"/>Swedish
            </td>
        </tr>

        <tr>
            <td class= "label"><label class="indexEntryLabel">Url: </label></td>
            <td class= "value"><input type="text" class="indexEntryText" placeholder="Url" ng-model="indexEntryData.url"/></td>
        </tr>

        <tr>
            <td class ="label"><label class="indexEntryLabel">Description</label></td>
            <td class ="value"></td>
        </tr>

        <tr class="textArea">
            <td colspan="2"><textarea  ng-model = "indexEntryData.description" class="indexEntryTextArea" maxlength="800" placeholder="Description"></textarea></td>
        </tr>

        <tr>
            <td class="button" colspan="2">
                <input type="button" value="Submit" ng-click="submitIndexEntry()"/>
                <input type="button" value="Refresh" ng-click="refreshAddIndexEntryTable()"/>
            </td>
        </tr>

    </table>
    <!--Necessary check to dynamically move the base div along with the increased content. -->
    <div style="clear: both"></div>
</div>
