
<div id="searchResultWrapper">

    <div id="searchResultHeader"></div>

    <div id="searchResultContent">

        
        <div id="videoPlayerDiv" ng-show="results && results.length > 0">
            <video id="video_player" class="video-js vjs-default-skin vjs-big-play-centered"></video>
        </div>
        
        <ul>
            <li ng-repeat= "result in results">

                <div class="searchResultEntry">
                    <div class="heading"><label>{{result.fileName}}</label></div>

                    <!--<div class="thumbnailDiv"></div>-->

                    <div class="metaDataDiv">
                        <div class="linkDiv"><a href ng-click="play(result)">{{result.linkDesc}}</a></div>
                        <div class="additionInfoDiv">Date Created: {{result.uploaded| date:'yyyy-MM-dd'}}</div>
                        <div class="descriptionDiv ellipsis"> {{result.description}} </div>
                    </div>
                </div>
            </li>
        </ul>
        
     <div style="clear:both"></div>

    </div>
    <div id="searchResultPush"></div>

</div>

<div id="searchResultFooter"></div>


