div#searchWrapper{
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -40px;
    background-image: url("../../img/AboveTheClouds2.jpg");
    background-repeat:no-repeat ;
}

div#searchHeader{
    height: 40px;
    width: 100%;
    /*background-color: #ffff00;*/
}

div#searchContentWrapper{

    width: 980px;
    margin: 0 auto;
    min-height: 500px;
}


div#searchContent{
    float: left;
    min-height: 400px;
    width: 976px;
    margin: 150px 0 0 0;
    background-color: #737373;
    border-radius: 10px;
    border: 2px solid #456879;
    background-color: rgba(115,115,115,0.5);
}



div#searchContentWrapper #searchBar{
    float: left;
    width: 500px;
    margin: 180px 10px 20px 200px;
    height: 30px;
    border-radius: 10px;
    padding: 5px;
    border: 2px solid #456879;
    font-size: 100%
}

div#searchContentWrapper #searchButton{
    float: left;
    margin: 180px 0 0 0;
    height: 40px;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #456879;
    background-color: #ffffff;
}


div#searchPush{
    height: 40px;
    width: 100%;
}


div#searchFooter{
    height: 40px;
    width: 100%;
}